
.div-cart{
    display: flex;
    flex-direction: row;
    margin-bottom: 19rem;
    
    h1{
        display: none;
        position: absolute;
        text-align: center;
        color: rgb(53, 56, 56);
    }    

    .div-productos-cart{
        width: 50%;

        .div-referencias{
            margin: 2rem 0 -2rem 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 2rem;
            color: #565c5c;
    
            .p-nombre{
                width: 300px;
                text-align: left;
            }
            .p-precio{
                width: 80px;
                margin-left: 14rem;
                margin-right: -4rem;
            }
            .p-cantidad{
                width: 100%;
                margin-right: 0.5rem;
                margin-left: 11rem;
            }
            .p-talle{
                width: 100%;
                margin-left:4.25rem;
            }
        }

        .div-but{
            margin: 4rem 0 0 4rem;
            
            .but-vaciar{
                color: white;
                background: #CE142F;
                border: none;
                border-radius: 50px;
                width: 40%;
                height: 2.25rem;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                cursor: pointer;
            }
    
            .but-continue{
                position: absolute;
                margin-left: 10rem;
                background: #CE142F;
                border: none;
                border-radius: 50px;
                width: 20%;
                height: 2.25rem;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                cursor: pointer;
    
                a{
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }

    .resumen-compra{
        background: #a8a6a6;
        background: #6d6d6d;

        border-radius: 10%;
        width: 23rem;
        height: 22rem;
        margin: 3rem 0 0 12rem;

        h3{
            margin-top: 3rem;
            text-align: center;
        }

        .div-total{
            display: flex;
            margin-top: 3rem;
            justify-content: space-around;
            font-size: large;
        }

        .but-success{
            margin: 4rem 0 0 4.5rem;
            background: #CE142F;
            border: none;
            border-radius: 50px;
            width: 60%;
            height: 2.25rem;
            font-weight: 550;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            cursor: pointer;
            
            a{
                font-weight: 400;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}


footer{
    margin-top: 12rem;
}