
.item-detail{
    display: flex;
    flex-direction: row;

    img{
        margin: 9rem 0 0 9rem;
        
    }

    .item-detail-data{
        display: flex;
        flex-direction:column;
        align-self:center;
        margin-left: 9rem;

        h3{
            margin-top: 6rem;
            font-size: 1.7rem;
        }

        h4{
            text-align: center;
            font-size: 2.25rem;
        }
    }
}