.card-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;

    .card-label-buttons{
        margin-bottom: 1rem;
        transform: scale(1.3);

        button{
            font-size: medium;
            color: white;
            border: .5px gray solid;
            border-radius: 30%;
            background-color: #828282; 
            cursor: pointer;

            &:hover{
                color: #000;
            }
        }

        span{
            margin: 0 1rem 0 1rem;
        }
    }

    .carry-button{
        margin-top: 4rem;
        margin-left: -3rem;
        transform: scale(1.2);
    
        :hover {
            transform: scale(1.2);
            transition: 1.3s;
        }
        
        .carry-button-normal{
            color: white;
            background: #CE142F;
            border: none;
            border-radius: 50px;
            width: 120%;
            height: 2.25rem;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            cursor: pointer;
        }
    
        .carry-button-success{
            background: #CE142F;
            border: none;
            border-radius: 50px;
            width: 120%;
            height: 2.25rem;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
}