select{
    outline:0;
    border:0;
    background:#737373;
    padding: 0.5rem .5rem;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    margin-bottom: 4rem;
    font-size: 1.05rem;
    font-weight:700;
}