
.blockCards{
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
    



    

    .cards{
        height: 19rem;
        width: 15rem;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: beige;
        
        

        .imagenInicio{
            display: flex;
            height: 11rem;
            margin-bottom: 2rem;
            img{
                object-fit: contain;
            }
            :hover {
                transform: scale(1.4);
                transition: 1.3s;
                
            }
        }

        .cards-label{
            width: 100%;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            border: 2px solid rgb(84, 84, 232); 
            font-weight: bold;
        }
    }
}