
.item-div{
    border: 1px solid #000;
    margin: 3rem 3rem 3rem 3rem;
    
    .item-label{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        h3{
            text-align: center;
            font-size: 1.7rem;
            margin-bottom: -1rem;
        }

        h6{
            text-align: center;
            font-size: 1rem;
            font-weight: normal;
            color: #000008;
            margin-bottom: 2rem;
        }
    
        .but-see-more{
            text-decoration: none;
            padding: .5rem;
            border: 1px solid black;
            border-radius: 10%;
            font-size: 1.1rem;
            margin-bottom: 1rem;
            color: blue;

            &:hover {
                color:white;
                background-color: rgb(24, 131, 238);
            }
        }
    }


}