.bt-finish{
    color: white;
    background: #CE142F;
    border: none;
    border-radius: 50px;
    width: 120%;
    height: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}
