.bt-finish{
    background-color:#27d229;
    border: none;
    border-radius: 8%;
    color: #000000;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
    cursor: pointer;
    
    &:hover {
        background-color:#2b9b2d;
        font-size: .5;
        font-weight: bold;
    }
}