footer {
    
    border: 1px solid black;
    position: absolute;
    bottom: 0px;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 5rem;

    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
}