footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    position: absolute;
    margin-top: 3rem;
    position: relative;
    bottom: 0px;

    .div-seguinos{
        margin-top: 1rem;
        margin-left: 4rem;
        display: flex;
        flex-direction: row;

        .footer-links{
            color: #454141;
            padding-top: 1rem;
            margin-left: 2rem;
        }
        
        .link-contacto{
            color: #454141;
            text-decoration: none;
            margin-left: 20rem;
            
        }
    }    
}