footer {
    display: flex;
    border: 1px solid black;
    position: absolute;
    height: 5rem;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 3rem;
    bottom: 0%;

    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
}